NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
BUSINESS_APP_OWNER_USER_ID=
BUSINESS_DIRECT_DATABASE_URL=
BUSINESS_DIRECT_DEPLOYMENT_TIER=
BUSINESS_DIRECT_DATABASE_SCHEMA=
BUSINESS_DIRECT_E2E_TARGET=
BUSINESS_DIRECT_E2E_TARGET_APPROVAL=
BUSINESS_DIRECT_E2E_BASE_URL=
BUSINESS_DIRECT_E2E_OWNER_EMAIL=
BUSINESS_DIRECT_E2E_OWNER_PASSWORD=
